body {
  margin: 0;
  background-color:honeydew;
}

* {
  box-sizing: border-box;
}

.gesture {
  font-family: 'Henny Penny', cursive;
  font-size: 6mm;
  position: relative;
  top: 30px;
}

.gesture1 {
  font-family: 'Henny Penny', cursive;
  font-size: 6mm;
  position: relative;
  top:0px;
  margin: 0;
}

.gesture2 {
  font-family: 'Henny Penny', cursive;
  font-size: 5mm;
  position: relative;
  top:50px;
  margin: 0;
}

.gesture3 {
  font-family: 'Henny Penny', cursive;
  font-size: 5mm;
  position: relative;
  top:100px;
  margin: 0;
}

.gesture4 {
  font-family: 'Henny Penny', cursive;
  font-size: 5mm;
  position: relative;
  top:90px;
  margin: 0;
  text-align: left;
}

.gesture5 {
  font-family: 'Henny Penny', cursive;
  font-size: 5mm;
  position: relative;
  top:210px;
  margin: 0;
  text-align: left;
}

.gesture6 {
  font-family: 'Henny Penny', cursive;
  font-size: 5mm;
  position: relative;
  top:280px;
  margin: 0;
  text-align: left;
}

.gesture7 {
  font-family: 'Henny Penny', cursive;
  font-size: 5mm;
  position: relative;
  top:350px;
  margin: 0;
  text-align: left;
}

.gesture8 {
  font-family: 'Henny Penny', cursive;
  font-size: 5mm;
  position: relative;
  top:400px;
  left: 620px;
  margin: 0;
  text-align: center;
}

.welcome {
  font-family: 'Expletus Sans', cursive;
  font-size:6mm;
  position:relative;
  left:200px;
  top: 100px;
  display: inline-block;
}


.Vanakam {
  margin-top: 100px;
  margin-left: 450px;
  width: 250px;;
  height: 250px;
  -webkit-box-reflect: right;
  object-fit: cover;
  border-radius: 50%;
}


.short {

  font-family: 'Expletus Sans', cursive;
  font-size:6mm;
  position: relative;
  display: inline-block;
  margin-block-start: 0%;
  scroll-margin-block-end: 0%;
  margin-inline-end: 0%;
  margin-inline-start: 0%;
  left:-250px;
  top: 250px;

}

.break1 {
 display: inline-block;
 position: relative;
  display: inline-block;
  margin-block-start: 0%;
  scroll-margin-block-end: 0%;
  margin-inline-end: 0%;
  margin-inline-start: 0%;
  left:-600px;
  top: 350px;

}

.Myphoto {

  border-radius: 50%;
  width: 280px;
  position: relative;
  left: 540px;
  top: 200px;
}

.description {
  font-family: 'Lovers Quarrel', cursive;
  font-size:5mm;
  display: inline-block;
  padding-top: 200px;
  align-content: center;
}

.break2 {
  position: relative;
  left: -100px;
   
 }

 .order {
  margin-left: auto;
  margin-right: auto;
 }

table th, td,tr{
  width: auto;
  border: 1px solid black;
  text-align: justify;
}

table th{

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgb(182, 179, 204);
}

table tr{

  font-family: cursive;
  background-color: rgb(235, 215, 215);
}

.break3 {
  position: relative;
  top: 50px;
  left: -100px;
   
 }

 .break4 {
  position: relative;
  top: 90px;
  left: -100px;
 }


 .break5 {
  position: relative;
  top: 190px;
  left: -100px;
 }


 .break6 {
  position: relative;
  top: 250px;
  left: -100px;
 }

 .break7 {
  position: relative;
  top: 320px;
  left: -100px;
 }

 .break8 {
  position: relative;
  top: 370px;
  left: -100px;
 }

 .Personal {
  position: relative;
  left: auto;
  bottom:-30px;
  font-family: 'Spirax', cursive;
  font-size:6mm;
  font-optical-sizing: 10px;
  display: inline-block;
  align-content: center;
  animation-duration: 1s;
}

.Daughter {
  font-family: 'Spirax', cursive;
  position: relative;
  top:-20px;
   
 }

 .container1:after,.container1:before
 {
   content:"";display:-ms-grid;clear:both;align-self: center;
   padding-left: 80px;
  }

  .container1
 { 
   position: relative;
   top: 60px;
  }
   
 .circle {
  border-radius: 50%;
}

.ice {
  height: 100%;
  width: 100%;
}

h1 {
  margin-top:0;
}


img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  padding-right: 80px;
  top: 140px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding-left: 30px;
  margin-top: -50px;
  color: rgb(241, 145, 145);
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.prev
  {
    left: 370px;
    
  }

/* Position the "next button" to the right */
.next {
  right: 100px;
  left: 600px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: 0;}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  width: auto;
  text-emphasis-style: 10px;
  text-align: center;
  background-color: rgba(44, 45, 46, 0.575);
  padding: 2px 16px;
  color: rgb(25, 25, 26);
  margin: 0;
  position: relative;
  left: 25px;
  top: 20px;
}

.row:after {
  content: "";
  display: none;
  clear: both;
}

.row {

  border: none;
  display: ruby;
  position: relative;
  left: 25px;
  top: 20px;

}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

hr {
  border-style: none; 
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  height: 2px;
  width: 100px;
}

.box {
  width: 300px;
  height: 180px;
  padding: 20px;
  margin: 100px auto;
  border: solid;
  box-shadow: 0px 0px 10px 2px grey;

  background-image: url(blue_Moon.jpg);
  background-size: cover;
}
 h1 {
   display: inline-block;
 }
 p { 
   display: inline-block;
 }

 .red {
   width: 200px;
   height: 200px;
   background-color: red;
   position: relative;
   left: 600px;
 }

 .blue {
   width: 200px;
   height: 200px;
   background-color: blue;
   position: relative;
   left: 200px;
    right: 500px;
   bottom: 200px;

 }

 .yellow {
   width: 200px;
   height: 200px;
   background-color: yellow;
   position: relative;
   left: 400px;
   right: 400px;
   bottom: 400px;

 }

.Top_Container {
  background-color:blue;
  width: 200px;
  height: 200px;
  padding: 20px;
  border: solid 10px;
}

.Middle_Container {
  background-color:rgb(22, 22, 22);
  width: 200px;
  height: 200px;
  border: solid 10px;
}

.Last_container {
  background-color:black;
  width: 200px;
  height: 200px;
  margin:  5% 0;
}

.footer {
  position: relative;
  left: 0;
  top: 430px;
  bottom: 0;
  width: 100%;
  background-color: rgb(189, 185, 185);
  color: rgb(177, 233, 243);
 text-align: inherit;
 padding-left: 600px;
}